@import './base.css';


.font-title {
    font-family: var(--font-title);
}

.text-main {
    color: var(--main);
}

.section-caption {
    color: var(--main);
}

/* .btn-main {
    background-color: transparent !important;
    color: var(--main);
    border: 3px solid var(--main) !important;
}

.btn-icon {
    background-color: var(--main);
    color: white;
    border-bottom-left-radius: 70%;
} */